$tablet-width: 768px;
$desktop-width: 1024px;


@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
  
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

/// @alias element
@mixin e($element) {
  @include element($element) {
    @content;
  }
}

/// @alias modifier
@mixin m($modifier) {
  @include modifier($modifier) {
    @content;
  }
}

@mixin border-box {
  box-sizing: border-box; 
}
@mixin shake-mixin($shakes, $angle) {
  $percentage: 100/$shakes;
  @for $i from 0 through $shakes {
    @if $i == 0 {
      #{$i*$percentage}% { 
        transform: rotateZ(0deg);
      }
    }
    @else if $i == $shakes {
      #{$i*$percentage}% { 
        transform: rotateZ(0deg);
      }
    }
    @else if  $i % 2 == 0 {
      #{$i*$percentage}% { 
        transform: rotateZ(-#{$angle}deg);
      }
    }
    @else if $i % 2 == 1 {
      #{$i*$percentage}% { 
        transform: rotateZ(#{$angle}deg);
      }
    }
  }
}
$name: 'shake20';
$number: 5;
$angle: 30;

@mixin keyframes( $animationName ) {
  @keyframes #{$animationName} {
    @content;
  }
}
/*This runs both mixims above.*/
@include keyframes($name) {
  @include shake-mixin($number,$angle);
}
