@import './mixinVariables';

.reviews {
  color: #7a7a7a;
  font-family: Dosis;
  margin: 0 auto;
  max-width: 1000px;
  width: 300px;

  @include tablet {
    width: 700px;
  }
  @include desktop {
    width: 1000px;
  }
  @include e('img') {
    display: block;
    height: auto;
    margin: auto;
    width: 100px;
    @include tablet {
      width: 100px;
    }
    @include desktop {
      width: 200px;
    }
  }

  @include e('header') {
    color: #1ddf79;
    font-size: 3em;
    text-align: center;
    text-shadow: 0.5px 0.5px #000;
    width: 100%;
    @include tablet {
      width: 700px;
    }
  }
  @include e('buttons') {
    text-align: center;

  }
  @include e('form') {
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    @include e('input') {
      display: inline-block;
      height: 350px;
      vertical-align: middle;
      width: 300px;

      
      label,
      input,
      textarea {
        display: block;
        margin: auto;
      }

      input,
      textarea {
        border: solid 1px #7a7a7a;
        font-size: 1em;
        margin: auto;
        //transform: scale(0);
        //transition: all 1s;
        width: 300px;
        // stylelint-disable selector-no-qualifying-type
        //&.hover {
        //  transform: scale(1); 
        //}
      }

      textarea {
        height: 200px;
      }

      label {
        font-size: 1.5em;
        transform: scale(1);
        transition: all 1s;

        &:hover {
          color: #3ba6ef;
          transform: scale(1.1);
        }
      }
      @include tablet {
        width: 320px;
      }
      @include desktop {
        width: 500px;
      }
    }
    @include e('send') {
      display: inline-block;
      height: auto;
      vertical-align: middle;
      width: 320px;
      @include tablet {
        height: 350px;
      }

      input {
        height: 50px;
        transform: scale(1);
        transition: transform 1s;

        &:hover {
          animation: shake20 1s forwards;
        }
      }

      label {
        display: block;
      }
    }
  }
  @include e('button') {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    button {
      background-color: transparent;
      border-color: transparent;
      font-size: 1em;
      margin: 10px;
      transform: scale(1);
      transition: transform 1s;
      width: 300px;

      &:hover {
        color: #3ba6ef;
        transform: scale(1.05);
      }

      &:focus {
        outline: 0;
      }
    }
  }
}
